.git/
.pytest_cache/
.webpack_cache/
__pycache__/
frontend/node_modules/
frontend/build
frontend/.next/
frontend/yarn-error.log

.coverage
.dockerignore
.env*
.fenv*
!.env.example
celerybeat-schedule
docker-compose.override.yml
