@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3 shadow-lg;
}

.btn-sm {
    @apply px-4 py-2 shadow;
}
